body{
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-columns: 15% 70% 15%  ;
    grid-template-rows: 10% 10% 70% 10% ;
    color: #14004e;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}
.name{
    grid-column: 2/3;
    grid-row: 1/2;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 0.5rem;
    padding-top: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.name h4{
    display: inline;
    border:1px solid #14004e;
    padding: 1em;
}
.about{
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: #e1e1e1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 5rem;
    text-align: center;
    justify-self: end;
    cursor: pointer;
 

}.about:active,
.projects:active,
.contact:active{
    background-color: white;
    opacity: 0.2;
}
.about:hover,
.projects:hover,
.contact:hover{
    background-color: #14004e;
    color: #e1e1e1;
}
.projects{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #e1e1e1;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 0.5rem;
    cursor: pointer;

}
.contact{
   grid-column: 3/4;
   grid-row: 2/5;
   font-size: 2rem;
   background-color:#e1e1e1;
   writing-mode: vertical-lr;
   text-orientation: upright;
   text-transform: uppercase;
   padding: 5rem;
   text-align: center;
   cursor: pointer;
   justify-self: start;
  
}
.picture{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;

}

.picture img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;  
}
.text{
    grid-column: 2/3;
    grid-row: 2/3;
    color: #14004e;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.5rem;
}
h3 {
    display: inline;
}
a {
    display: block;
    text-decoration: none;
    color:#14004e;
    width: 100%;
}
a:active,
a:hover {
    color: #e1e1e1;
}

/* Projects site */
.projects-wrapper{
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 50% 50%;
}
.project{
    position: relative;
    margin: 3rem;
}
#first{
    grid-column: 1/2;
    grid-row: 1/2;
}
#first-text,
#second-text,
#third-text{
    display: none;
    position: absolute;
}
.project:hover #first-text,
.project:hover #second-text,
.project:hover #third-text{
    position: absolute;
    cursor: pointer;
    display: block;
    color: blanchedalmond;
    background-color: black;
    opacity: 0.7;
    font-size: 1rem;
    padding: 0.5rem;
}

#second{
    grid-column: 2/3;
    grid-row: 1/2;
}
#third{
    grid-column: 3/4;
    grid-row: 1/2;
}
#fourth{
    grid-column: 1/2;
    grid-row: 2/3;
}
#fifth{
    grid-column: 2/3;
    grid-row: 2/3;
}
#git{
    grid-column: 3/4;
    grid-row: 3/4;
}
.project img{
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}
.project{
    cursor: pointer;
}
