body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* navigation bar */
.navigation_bar{
    display: block;
    width: 100vw;
    height: 3vh;
}
.navigation_bar ul{
    padding: 20px;
    margin: 0px;
    text-align: center;
    background-color:#333;
}
.navigation_bar ul li{
    display: inline-block;
    width: 150px;
    border-left: 1px solid #bbb;
    color: white;
}
.navigation_bar ul li:first-child{
border-left: none;
}
.navigation_bar ul li a{
    text-decoration: none;
    color: #eee;
}
.navigation_bar ul li:hover{
    background-color: #c6c6c6;
    color: #383833;
}

.navigation_bar ul li a:hover{
    background-color: #c6c6c6;
    color: #383833;
}
.navigation_bar ul li i{
    font-size: 16px;
}


/* about me */

.main_content{
    margin: 30px;
    padding: 30px;
    text-align: center;
}
.about_me{
    display: inline-block;
    text-align: justify;
    width: 600px;
    height: 400px;
}

/* Index page */

.header-text{
    margin-top: 50px
}
.header-text h3{
    text-align: center;
    padding-top: 20px;
    color: #003366;
}
.header-text p{
    padding: 20px;
    text-align: center;
}
.main_content__index{
    margin: 0;
    padding: 0;
}
.first-project, 
.second-project, 
.third-project{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.first-project__content-img, 
.third-project__content-img{
    order: 1;
    width: auto;
}

.second-project__content-img{
    order: 2;
    width: auto;
}
.first-project__content, 
.third-project__content{
    order: 2;
    margin: 100px;
    text-align: center;
}

.second-project__content{
    order: 1;
    margin: 100px;
    text-align: center;
}
.first-project__content h3, 
.second-project__content h3, 
.third-project__content h3{
    color: #003366;
}
/* contact form */
.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.contact-form{
    order: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 150px;
    margin-top: 100px;
    width: 600px;
}
.h3-contact{
    margin-top: 100px;
    color: #003366;
    font-size: 1em;
}
.contact-info{
    order: 2;
    margin-top: 100px;
    padding: 20px;
    padding-top: 200px;
}

.form-name_label, 
.form-email_label, 
.form-message_label{
    font-size: 1em;
    padding:10px;
}

.form-submit{
    margin: 25px;
    width: 75px;
    background-color: #333;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 10px;
    color:#ddd;
    justify-content: center;
}
.input-form{
    border: 1px solid #989898;
    width: 400px;
    background-color: #ffffff;
}
.input-form_message{
    border: 1px solid #989898;
    width: 400px;
    background-color: #ffffff;
    height: 100px;
}
/* thanks */

.thanks-div{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thanks-div h3{
    color: #003366;
    text-align: center;
}
#thanks-submit-button{
    margin: 25px;
    width: 125px;
    background-color: #333;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 10px;
    color:#ddd;
    justify-content: center;
}
/* projects site */
.projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.project-one, 
.project-two, 
.project-three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 300px;
}
.project-one__printscreen,
.project-two__printscreen, 
.project-three__printscreen {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
}
.project-one__printscreen img,
.project-two__printscreen img, 
.project-three__printscreen img {
    width: 100%;
}
.project-one__details, 
.project-two__details, 
.project-three__details {
    text-align: center;
} 
.project-one__details ul, 
.project-two__details ul, 
.project-three__details ul {
    list-style-type: none;
} 
.title{
    font-size: 1em;
    padding-bottom: 20px;
}