body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* navigation bar */
nav{
    display: block;
    width: 100%;
    height: 3rem;
}
nav ul{
    padding: 1.5rem;
    margin: 0rem;
    text-align: center;
    background-color:#333;
}
nav ul li{
    display: inline-block;
    width: 9.375rem;
    border-left: 1px solid #bbb;
    color: white;
}
nav ul li:first-child{
    border-left: none;
}
nav ul li a{
    text-decoration: none;
    color: #eee;
}
nav ul li:hover{
    background-color: #c6c6c6;
    color: #383833;
    width: 9.375rem;
    border-left: 1px solid #bbb;
}
nav ul li a:hover{
    background-color: #c6c6c6;
    color: #383833;
}
nav ul li i{
    font-size: 1rem;
}

/* about me */

.main_content{
    margin: 1.875rem;
    padding: 1.875rem;
    text-align: center;
}
.about_me{
    display: inline-block;
    text-align: justify;
    width: 37.5rem;
    height: 25rem;
}

/* Index page */

.header-text{
    margin-top: 3.125rem;
}
.header-text h3{
    text-align: center;
    padding-top: 1.25rem;
    color: #003366;
}
.header-text p{
    padding: 1.25rem;
    text-align: center;
}
.main_content__index{
    margin: 0rem;
    padding: 0rem;
}
.first-project, 
.second-project, 
.third-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.55rem;
}
.first-project__content-img, 
.third-project__content-img{
    order: 1;
    width: auto;
}
.second-project__content-img{
    order: 2;
    width: auto;
}
.first-project__content, 
.third-project__content{
    order: 2;
    margin: 6.25rem;
    text-align: center;
}
.second-project__content{
    order: 1;
    margin: 6.25rem;
    text-align: center;
}
.first-project__content h3, 
.second-project__content h3, 
.third-project__content h3{
    color: #003366;
}
/* contact form */
.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.contact-form{
    order: 1;
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    margin-left: 9.375rem;
    margin-top: 6.25rem;
    width: 37.5rem;
}
.h3-contact{
    margin-top: 6.25rem;
    color: #003366;
    font-size: 1rem;
}
.contact-info{
    order: 2;
    margin-top: 6.25rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.form-name_label, 
.form-email_label, 
.form-message_label{
    font-size: 1rem;
    padding: 0.625rem;
}
.form-submit{
    margin: 1.55rem;
    width: 4.6rem;
    background-color: #333;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 0.625rem;
    color:#ddd;
    justify-content: center;
}
.input-form{
    border: 1px solid #989898;
    width: 25rem;
    background-color: #ffffff;
}
.input-form_message{
    border: 1px solid #989898;
    width: 25rem;
    background-color: #ffffff;
    height: 6.25rem;
}
/* thanks */

.thanks-div{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thanks-div h3{
    color: #003366;
    text-align: center;
}
#thanks-submit-button{
    margin: 1.55rem;
    width: 7.8rem;
    background-color: #333;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 0.625rem;
    color:#ddd;
    justify-content: center;
}
/* projects site */
.projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6.25rem;
}
.project-one, 
.project-two, 
.project-three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 18.75rem;
}
.project-one__printscreen,
.project-two__printscreen, 
.project-three__printscreen {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0.625rem;
    padding: 1.5rem;
}
.project-one__printscreen img,
.project-two__printscreen img, 
.project-three__printscreen img {
    width: 100%;
}
.project-one__details, 
.project-two__details, 
.project-three__details {
    text-align: center;
} 
.project-one__details ul, 
.project-two__details ul, 
.project-three__details ul {
    list-style-type: none;
} 
.title{
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

/* Media Queries*/

@media screen and (max-width: 399px) {

    .main_content{
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    .about_me{
        display: inline-block;
        text-align: justify;
        margin-top: 130px;
        width: 300px;
        height: 400px;
}
    /* index page */
    .header-text{
        margin: 70px 12px 12px 12px;
        width: 335px;
    }
    .first-project, 
    .second-project, 
    .third-project{
        flex-direction: column;
    }
    .first-project__content,
    .second-project__content,
    .third-project__content{
        margin: 12px;
        order: 1;
        width: 335px;
    }
    .first-project__content-img,
    .second-project__content-img,
    .third-project__content-img{
        order: 2;
        width: 335px;
        margin: 12px;
    }
    .first-project__content-img img,
    .second-project__content-img img,
    .third-project__content-img img{
        width: 100%;
    }
}
@media screen and (max-width:759px){
    .main_content{
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    .about_me{
        display: inline-block;
        text-align: justify;
        margin-top: 130px;
        width: 360px;
        height: 400px;
    }
    /* index page */
    .header-text{
        margin-top: 70px;
        width: 360px;
    }
    .first-project, 
    .second-project, 
    .third-project{
        flex-direction: column;
        margin: 10px;
    }
    .first-project__content,
    .second-project__content,
    .third-project__content{
        margin: 10px;
        order: 1;
        width: 360px;
    }
    .first-project__content-img,
    .second-project__content-img,
    .third-project__content-img{
        order: 2;
        width: 360px;
    }
    .first-project__content-img img,
    .second-project__content-img img,
    .third-project__content-img img{
        width: 100%;
    }
}
@media screen and (min-width:760px) and (max-width:999px) {
    .main_content{
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    .about_me{
        display: inline-block;
        text-align: justify;
        margin-top: 130px;
        width: 700px;
        height: 400px;
    }
    /* index page */
    .header-text{
        margin-top: 70px;
        width: 700px;
    }
    .first-project, 
    .second-project, 
    .third-project{
        flex-direction: column;
        margin: 10px;
    }
    .first-project__content,
    .second-project__content,
    .third-project__content{
        margin: 10px;
        order: 1;
        width: 700px;
    }
    .first-project__content-img,
    .second-project__content-img,
    .third-project__content-img{
        order: 2;
        width: 700px;
    }
    .first-project__content-img img,
    .second-project__content-img img,
    .third-project__content-img img{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1360px){
    .main_content{
        margin: 20px;
        padding: 20px;
        text-align: center;
    }
    .about_me{
        display: inline-block;
        text-align: justify;
        margin-top: 130px;
        width: 930px;
        height: 400px;
    }
    /* index page */
    .header-text{
        margin-top: 70px;
        width: 930px;
    }
    .first-project, 
    .second-project, 
    .third-project{
        margin: 10px;
    }
    .first-project__content,
    .second-project__content,
    .third-project__content{
        margin: 10px;
        width: 930px;
    }
    .first-project__content-img,
    .second-project__content-img,
    .third-project__content-img{
        width: 930px;
    }
    .first-project__content-img img,
    .second-project__content-img img,
    .third-project__content-img img{
        width: 100%;
    }
}