body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #e5e4e2;
}
nav{
    background-color: #333;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
li{
    list-style-type: none;
    text-align: center;
    padding: 1rem;
}
#cv{
    color:#ddd ;
}
a{
    text-decoration: none;
    color: #ddd;
}
li:hover{
    background-color: #ddd;
    cursor: pointer;
}
a:hover{
    color: #333
}

.nav.responsive > ul{
    display: flex;
    flex-direction: column;
}
.nav.responsive > ul > div.hidden {
    display: block;
}

.nav.responsive > ul > li:last-child{
    position:absolute;
    right: 0;
}
/* cv */

.cv-container{
    padding: 1.5rem;
    width: 100%;
}
.cv-container iframe{
    width: 100%;
    height: 60rem;
}
/* about me */

.main_content{
    margin: 0;
    padding: 1rem;
    text-align: center;
}
.about_me h1,
.about_me h3{
    text-align: center;
}
.about_me{
    display: inline-block;
    text-align: justify;
    width: 100%;
}
.about_me p,
.about_me h4{
    text-indent: 1rem;
}

/* Index page */

.header-text{
    margin: 0;
}
.header-text h3{
    margin: 0.3rem;
    text-align: center;
    padding-top: 1.25rem;
    color: #003366;
}
.header-text p{
    margin: 0.3rem;
    padding: 1.25rem;
    text-align: center;
}
.header-text p a{
    color: #333;
    cursor: pointer;
}
.main_content__index{
    margin: 0rem;
    padding: 0rem;
}
.first-project, 
.second-project, 
.third-project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.first-project__content{
    order: 1;
}
.first-project__content_img{
    order: 2;
}
.second-project__content{
    order: 3;
}
.second-project__content_img{
    order: 4;
}
.third-project__content{
    order: 5;
}
.third-project__content_img{
    order: 6;
}

.first-project__content_img img,
.second-project__content_img img,
.third-project__content_img img{
    max-width: 100%;
}

.first-project__content h3, 
.second-project__content h3, 
.third-project__content h3{
    margin: 0.3rem;
    padding-bottom: 0.6rem;
    color: #003366;
    text-align: center;
}
.first-project__content p, 
.second-project__content p, 
.third-project__content p{
    margin: 0.3rem;
    text-align: center;
}
/* contact form */

.flash {
    color: #ff5252;
    width: auto;
    margin: 0rem 0rem 1rem 0.3rem;
  }
.contact-content{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contact-form{
    order: 1;
    display: flex;
    flex-direction: column;
}
#h3-contact{
    text-align: center;
    color: #003366;
    font-size: 1.25rem;
}
.contact-info{
    order: 2;
    text-align: center;
}
.contact-info h3{
    color: #003366;
    font-size: 1.25rem;
}
.form-name_label, 
.form-email_label, 
.form-message_label{
    margin: 0.3rem;
    font-size: 1rem;
}
.form-submit{
    transform: translate(50%);
    margin: 0.3rem;
    width: 50%;
    text-align: center;
    background-color: #333;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 0.625rem;
    color:#ddd;
    justify-content: center;
}
.input-form{
    border: 1px solid #989898;
    background-color: #ffffff;
    margin: 0.3rem;
}
.input-form_message{
    margin: 0.3rem;
    min-height: 5rem;
    border: 1px solid #989898;
    background-color: #ffffff;
}
/* thanks */

.thanks-div{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thanks-div h3{
    color: #003366;
    text-align: center;
}
#thanks-submit-button{
    width: 100%;
    background-color: #333;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 0.625rem;
    color:#ddd;
    justify-content: center;
}
/* projects site */
.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.project-one{
    order: 1;
} 
.project-two{
    order: 2;
} 
.project-three {
    order: 3;
}
.project-one,
.project-two,
.project-three{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.project-one__printscreen,
.project-two__printscreen, 
.project-three__printscreen {
    margin: 0.3rem;
}
.project-one__printscreen img,
.project-two__printscreen img, 
.project-three__printscreen img {
    width: 100%;
}
.project-one__details, 
.project-two__details, 
.project-three__details {
    text-align: center;
} 
.project-one__details ul, 
.project-two__details ul, 
.project-three__details ul {
    margin: 0.1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
} 
.title{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.project-one__details ul li, 
.project-two__details ul li, 
.project-three__details ul li {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px){
    .nav > ul{
        margin: 0;
        padding: 0;
        text-align: center;
        background-color:#333;
    }
    .nav > ul > li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 11.65%;
        color: white;
        vertical-align: middle;
    }
    
    .nav > ul > li > a{
        text-decoration: none;
        color: #eee;
    }
    .nav > ul > li > a:hover{
        background-color: #c6c6c6;
        color: #383833;
    }
    .nav > ul > li > i{
        font-size: 1rem;
    }
    .nav > ul > li:last-child{
        display: none
    }
    .nav > ul > .hidden{
        display: flex;
        flex-direction: row;
        width: 83.34%;
    }
    .nav > ul > .hidden > li{
        width: 16.64%;
    }
    .nav > ul > .hidden > li:nth-child(3){
        width: 12%;
    }

/* Index page */

.header-text{
    margin: 0;
}
.header-text h3{
    margin: 0.3rem;
    text-align: center;
    padding-top: 1.25rem;
    color: #003366;
}
.header-text p{
    margin: 0.3rem;
    padding: 1.25rem;
    text-align: center;
}
.main_content__index{
    margin: 0rem;
    padding: 0rem;
}
.first-project, 
.second-project, 
.third-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.first-project__content,
.third-project__content{
    width: 50%;
    order: 1;
    margin: auto;
}
.first-project__content_img,
.third-project__content_img{
    width: 50%;
    order: 2;
}
.second-project__content{
    order: 2;
    width: 50%;
    margin: auto;
}
.second-project__content_img{
    order: 1;
    width: 50%;
}
.first-project__content h3, 
.second-project__content h3, 
.third-project__content h3{
    color: #003366;
    text-align: center;
}
.first-project__content p, 
.second-project__content p, 
.third-project__content p{
    text-align: center;
}
/* about me */
.main_content{
    margin: 0;
    padding: 1.5rem;
}
/* contact form */
.contact-content{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contact-form{
    order: 1;
    display: flex;
    flex-direction: column;
}
#h3-contact{
    text-align: center;
    color: #003366;
    font-size: 1.25rem;
}
.contact-info{
    order: 2;
    text-align: center;
}
.contact-info h3{
    color: #003366;
    font-size: 1.25rem;
}
.form-name_label, 
.form-email_label, 
.form-message_label{
    margin: 0.3rem;
    font-size: 1rem;
}
.form-submit{
    transform: translate(50%);
    margin: 0.3rem;
    width: 50%;
    text-align: center;
    background-color: #333;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 0.625rem;
    color:#ddd;
    justify-content: center;
}
.input-form{
    border: 1px solid #989898;
    background-color: #ffffff;
    margin: 0.3rem;
}
.input-form_message{
    margin: 0.3rem;
    min-height: 5rem;
    border: 1px solid #989898;
    background-color: #ffffff;
}
/* thanks */

.thanks-div{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thanks-div h3{
    color: #003366;
    text-align: center;
}
#thanks-submit-button{
    width: 100%;
    background-color: #333;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 0.625rem;
    color:#ddd;
    justify-content: center;
}
/* projects site */
.projects-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-one{
    order: 1;
} 
.project-two{
    order: 2;
} 
.project-three {
    order: 3;
}
.project-one,
.project-two,
.project-three{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.project-one__printscreen,
.project-two__printscreen, 
.project-three__printscreen {
    margin: 0.3rem;
}
.project-one__printscreen img,
.project-two__printscreen img, 
.project-three__printscreen img {
    width: 100%;
}
.project-one__details, 
.project-two__details, 
.project-three__details {
    text-align: center;
} 
.project-one__details ul, 
.project-two__details ul, 
.project-three__details ul {
    margin: 0.1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
} 
.title{
    font-size: 1rem;
    text-align: center;
}
}
@media screen and (min-width: 760px){
    nav{
        display: block;
        width: 100%;
        height: 3rem;
    }
    nav ul{
        padding: 1.5rem;
        margin: 0rem;
        text-align: center;
        background-color:#333;
    }
    nav ul li{
        display: inline-block;
        width: 6rem;
        color: white;
    }
    nav ul li:first-child{
        border-left: none;
    }
    nav ul li a{
        text-decoration: none;
        color: #eee;
    }
    nav ul li:hover{
        background-color: #c6c6c6;
        color: #383833;
        width: 6rem;
    }
    nav ul li a:hover{
        background-color: #c6c6c6;
        color: #383833;
    }
    nav ul li i{
        font-size: 1rem;
    }
    /* projects site */
    .projects-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.5rem;
    }
    .project-one, 
    .project-two, 
    .project-three {
        display: flex;
        flex-direction: column;
    }
    .project-one__printscreen,
    .project-two__printscreen, 
    .project-three__printscreen {
        width: 95%;
    }
    .project-one__printscreen img,
    .project-two__printscreen img, 
    .project-three__printscreen img {
        width: 100%;
    }
    .project-one__details, 
    .project-two__details, 
    .project-three__details {
        text-align: center;
    } 
    .project-one__details ul, 
    .project-two__details ul, 
    .project-three__details ul {
        margin: 0rem;
        padding: 0rem;
        list-style-type: none;
    } 
    .title{
        font-size: 1rem;
    }
    /* contact form */

    .contact-content{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
    }
    .contact-form{
        order: 1;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }
    #h3-contact{
        color: #003366;
        font-size: 1.25rem;
    }
    .contact-info{
        padding-left: 1rem;
        order: 2;
    }
    .contact-details{
        margin-top: 7rem
    }
    .form-name_label, 
    .form-email_label, 
    .form-message_label{
        font-size: 1rem;
    }
    .form-submit{
        background-color: #333;
        font-size: 1rem;
        border: 2px solid #000;
        border-radius: 0.625rem;
        color:#ddd;
        justify-content: center;
    }
    .input-form{
        border: 1px solid #989898;
        background-color: #ffffff;
        width: auto;
    }
    .input-form_message{
        border: 1px solid #989898;
        background-color: #ffffff;
        width: auto;
        min-height: 7rem;
    }
    /* about me */
    .main_content section{
        width: 75%;
        text-align: center;
    }
}
@media screen and (min-width: 1150px){
    nav ul li{
        width: 9rem;
    }
    nav ul li:hover{
        width: 9rem;
    }
    nav ul li a{
        font-size: 1.25rem;
    }
    nav ul li{
        font-size: 1.25rem;
    }
    nav ul li a:hover{
        background-color: #c6c6c6;
        color: #383833;
    }
    nav ul li i{
        font-size: 1.5rem;
    }

    .contact-content{
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
    /* about me */
    .main_content section{
        width: 60%;
        text-align: center;
}
}