*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #24272b;
    background-color: #fdfdfd;
    
}

/* navigation bar */

nav {
    display: flex;
    flex-direction: column;
}

nav a{
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    text-align: center;
    background-color:#e1e1e1;
    opacity: 0.6;
    text-decoration: none;
    color: #24272b;
}
nav .name {
    background-color: #fdfdfd ;
    margin: 2rem;
}

nav .name #top{
    border: 1px solid #24272b;
    background-color: #fdfdfd;
    border-bottom: none;
    padding-bottom: 0.2rem;
}
nav .name #bottom{
    border: 1px solid #24272b;
    background-color: #fdfdfd;
    border-top: none;
    padding-top: 0.2rem;
}

.nav a:visited,
.nav a:hover
.nav a:active{
    background-color: #24272b;
    color: #e1e1e1;
    }
.active{
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    text-align: center;
    background-color:#24272b;
    border-bottom: 1px solid #e1e1e1;
    opacity: 0.6;
    text-decoration: none;
    color: #e1e1e1;
    }

/* index page */

.picture{
    width: 100%;
}
.picture img{
    width: 100%;
}

/* about page */
.main_content{
    padding: 1rem;
}
.about_me{
    padding-bottom: 3rem;
}
.about_me ul{
    list-style: none;
}
.about_me p,
.about_me h5,
.about_me ul li{
    margin-top: 1rem;
}
.my-motto{
    text-transform: uppercase;
}
.about_me h2,
.about_me h3{
    margin: 2rem 0rem
}


/* projects page */
.projects-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1rem;
    padding: 1rem;
}
.project{
    position: relative;
    height: 100%;
}
.project #first-text,
.project #second-text,
.project #third-text,
.project #fourth-text,
.project #fifth-text,
.project #sixth-text{
    cursor: pointer;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    padding-top: 1rem;
    padding: 0.5rem;
    height: 100%;
    color: #e1e1e1;
    font-size: 1.4rem;
}
.project #first-text h3,
.project #second-text h3,
.project #third-text h3,
.project #fourth-text h3,
.project #fifth-text h3,
.project #sixth-text h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.project-image{
    max-width: 100%;
    height: auto;
}
.project-image img{
    width: 100%;
    height: 100%;
}

/* contact form  */
.flash {
    color: #a85a4d;
    width: auto;
    margin: 0rem 0rem 1rem 0.3rem;
  }
.contact-wrapper{
    display: flex;
    justify-content: center;
}
.contact-content{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.contact-form{
    order: 1;
    display: flex;
    flex-direction: column;
}
#h3-contact{
    text-align: center;
    font-size: 1.25rem;
    padding: 1rem;
}
.contact-info{
    order: 2;
    text-align: center;
    padding-top: 1rem;
}
.contact-info h3{
    font-size: 1.25rem;
    padding: 1rem;
}
.contact-details h4{
    padding: 1rem;
}
.form-name_label, 
.form-email_label, 
.form-message_label,
.form-question_label{
    margin: 0.3rem;
}
.form-submit{
    transform: translate(200%);
    margin: 0.3rem;
    width: 20%;
    height: 2rem;
    background-color: #1d84b5;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    color:#f1f5fa;
    margin-top: 1rem;
}
.input-form{
    background-color: #e1e1e1;
    border: none;
    height: 2rem;
    margin: 0.3rem;
}
.input-form_message{
    margin: 0.3rem;
    min-height: 8rem;
    background-color: #e1e1e1;
}

/* thanks */
.thanks-wrapper{
    display: flex;
    justify-content: center;
}
.thanks-div{
    text-align: center;
}
.thanks-div h3,
.thanks-div h5{
    padding: 1rem;
}

.thanks-div a input{
    background-color: #1d84b5;
    border-radius: 10px;
    border: none;
    color: #e1e1e1;
    width: 100px;
    height: 30px;
}

/*-------------------------------------------------------*/

@media screen and (min-width: 400px){
    
    .project #first-text,
    .project #second-text,
    .project #third-text,
    .project #fourth-text,
    .project #fifth-text,
    .project #sixth-text{
        font-size: 1.6rem;
}
@media screen and (min-width: 600px){
    .project #first-text,
    .project #second-text,
    .project #third-text,
    .project #fourth-text,
    .project #fifth-text,
    .project #sixth-text{
        font-size: 2.5rem;
}
}



@media screen and (min-width: 700px){


    nav{
        display: flex;
        flex-direction: column-reverse;
    }
    .name-wrapper{
        display: flex;
        justify-content: center;
    }
    .name{
        width: 45%;
    }
    .navigation-bars{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #e1e1e1;
    }
    .navigation-bars a{
        width: 200px;
    }
    .navigation-bars a:nth-last-of-type(){
        border-right: 1px solid #24272b;
    }
   #top{
       border-bottom: none;
   }
   #bottom{
       border-top: none;
   }
   /* contact  */
   .contact-content{
       width: 80%;
   }
   /* about me */
   .main_content{
       display: flex;
       justify-content: center;
   }
   .about_me{
       width: 80%;
   }

   .project #first-text,
    .project #second-text,
    .project #third-text,
    .project #fourth-text,
    .project #fifth-text,
    .project #sixth-text{
        font-size: 1.6rem;
}

}
@media screen and (min-width: 800px){
    /* contact */
    .contact-content{
        width: 70%;
    }
}
@media screen and (min-width: 1000px){
    /* contact */
    .contact-content{
        width: 60%;
    }


    .form-submit{
        transform: translate(285%);
        width: 15%;
        height: 2rem;
    }

    /* about me*/
    .about_me{
        width: 70%;
    }
    /* projects */
    .project #first-text,
    .project #second-text,
    .project #third-text,
    .project #fourth-text,
    .project #fifth-text,
    .project #sixth-text{
        font-size: 1.4rem;
}

}
@media screen and (min-width: 1150px){


    .projects-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px,1fr));
        grid-gap: 1rem;
        padding: 1rem;
    }

}
@media screen and (min-width: 1600px){
    /* project page */

    .projects-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
        grid-gap: 2rem;
        padding: 1rem;
    }
    /* about me */
    .about_me{
        width: 60%;
    }
    /* index */
    main{
        display: flex;
        justify-content: center;
    }
    .picture{
        width: 60%;
    }

}
}