{% extends "layout.html" %}
{% block content %}
    <div class="main_content">
        <div class="about_me">
            <h5><q><i>I’m sailor on the vast ocean of code</i></q><sub><small><i>unknown author</i></small></sub></h5>
            <br/>
            <h2>Hi,</h2>
            <h2>I’m Bartek</h2>
            
            <h2 class="my-motto" >Coding is my journey</h2>
            <p>The longest I have ever begun and I really regret not having started this earlier, but hey it’s never to late to start something new. I’m not treating coding as a way to earn money. No! I have try many things other than software devolping but none of it was so inspiring, so facinating, so demanding that all levels of my couriosity just bloom like a flower. I’m constanly learning better coding. I think how to code better and, yes I’m saling through vast ocean of code. I will fail many times. I will makes bugs, bugs and bugs again and again. That’s the life. I’m coding and I love to do that.</p>
            <p>Thanks for being with me so long and if you would like say Hi to me please contact me via contact page.</p>
        </div>
    </div>
    
{% endblock %}

