{% extends "layout.html" %}
{% block content %}
    <div class="main_content">
        <div class="about_me">
            <h5><q><i>I’m sailor on the vast ocean of code</i></q><sub><small><i>unknown author</i></small></sub></h5>
            <br/>
            <h2>Hi,</h2>
            <h2>I’m Bartek</h2>
            
            <h2 class="my-motto" >Embarking on a Coding Odyssey</h2>
            <p>I've set sail on an incredible journey, one that I wish I had embarked on earlier. Yet, it's always the perfect time to begin a new adventure. Coding for me isn't just a means to earn a living - it's a passion that fuels my curiosity.</p>
            <p>I've dabbled in numerous fields, but none have captivated me as much as software development. It's a discipline that continually demands more, pushing me to grow, to learn, and to explore. Each line of code I write propels me further into this vast ocean, where my curiosity unfurls like a blossoming flower.</p>
            <p>I am in constant pursuit of coding excellence, always seeking to improve and refine my skills. Yes, I will stumble, and yes, I will create bugs. But in each failure, I see an opportunity to learn and to grow. It's a rollercoaster ride I willingly sign up for because, at the end of the day, I love coding.</p>
            <p>Thank you for joining me on this journey. If you'd like to reach out, I invite you to contact me through the contact page. Here's to the coding adventures that await us!</p>
            <p>Best,</p>
            <p>Bartek</p>
        </div>
    </div>
    
{% endblock %}

