
{% extends "layout.html" %}

{% block content %}
    <div class="main_content">
        <section class="about_me">
            <h1>Hi,</h1>
            <h3>I’m Bartek and I'm a self-taught programmer. I was born and grew up in Poland but then later moved to Norway (Oslo) – about 9 years ago.</h3>
            <p>I've been fascinated with coding ever since I coordinated in my former employer implementation of a new process which was helping to manage an accommodation and tool flow in job agency (CBA Fagformidling AS). In this respect in the cooperation with the software developer we had created and developed the internal platform for managing accommodation process and equipment flow in CBA. In this respect I was responsible for: identification of my employer and employee needs, determining the functional elements / appearance of the tool. I had been also responsible for manual testing – therefore I passed an ISTQB Certificate (Nr. 28947 at 27/07/2015). </p>
            <p>I was originally learning the C++, but since we started developing the tool in Python I started to learn this language. And my love for discovering the new areas in programming (especially in Python), writing code hasn’t diminished since then.</p>
            <p>During my professional experience (in banks, job agency or running my own businesses) I always strived to do things in its most efficient way, i.e. trying to optimize the particular process or do them in the better way, sometimes I had to find solutions from the scratch. Hence, probably I fell in love with coding and started to think very seriously about becoming a software developer in the future.</p>
            <p><strong>Currently, after about 2 years of intensive programming self – learning I'm looking for a software developer opportunity in Python that will allow me to work alongside an expert team of developers and strengthen my knowledge and it further developed.</strong></p>
            <p>I’m a highly motivated, responsible and hard working person. Being work for different jobs helped me to adopt changes quickly and made me responsible, open-minded team worker. I have also ability to think through a problem and I am able to work well under pressure and adhere to strict deadlines. I am able to work well both in a team as well as using own initiative.</p>
            <p>MY PROJECTS DEVELOPED SO FAR:</p>
            <p>In terms of non-computer hobbies I really love sailing, that’s why one of the firs of my own projects was a script which helps to plan sail trip from Oslo to Swinoujscie (which is one of my sailing plan for the future) by gathering current forecast data on the specific sea coordinates.</p> 
            <p>I also like sky watching and cosmos. By the programming in Python I have found that I could be a little bit closer to this passion, esspecially Mars. I have created the app informs about current weather on Elysium Planitia the plain to the north of the Mars equator where the Insight NASA Lander gathers data of the Martian interior.</p>
            <p>To see other projects done by me please go to my github site or project site which you can find in navigation bar above.</p>
            <p>Thanks for visiting my website and if you would like to contact with me all contact information are in a contact page.</p>
            <h4><strong>Bartosz Kobylinski</strong></h4>

        </section>
    </div>
{% endblock %}