{% extends "layout.html" %}
{% block content %}
<div class="cv-content">
    <a href="{{ url_for('static', filename='cv/bartosz_kobylinski_cv.pdf') }}" download="bartosz_kobylinski_cv">If you can't see my CV probably something went wrong but you can download it here</a>
    <div class="cv-container">
        <!--
               <embed src="{{url_for('static', filename ='cv/bartosz_kobylinski_cv.pdf')}}" type="application/pdf" style="width: 100%; height: 55rem;">
 
        -->
        <object data="{{ url_for('static', filename='cv/bartosz_kobylinski_cv.pdf')}}" type="application/pdf" style="min-height:100vh;width:100%"></object>
    </div>
</div>


{% endblock %}