{% extends "layout.html" %}
{% block content %}

<div class="cv-container">
    
    <iframe src="http://docs.google.com/gview?url=https://bartoszkobylinski.com/cv/bartosz_kobylinski_cv.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
    
    <!--
       <object data="{{url_for('static', filename='cv/bartosz_kobylinski_cv.pdf')}}" type="application/pdf" width="90vw" height="60rem"></object>
     
    
    <object data="{{url_for('static', filename='cv/bartosz_kobylinski_cv.pdf')}}">
        <p>Oops! You don't support PDFs!</p>
        <p><a href="{{url_for('static', filename='cv/bartosz_kobylinski_cv.pdf')}}">Download Instead</a>
    </object>
    -->
</div>
<!--
<embed id="cv" src="{{url_for('static', filename='cv/bartosz_kobylinski_cv.pdf')}}" type="application/pdf">
-->
{% endblock %}