<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165453775-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-165453775-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='js/hamburger_menu.js') }}"></script>
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <div class="name-wrapper">
            <div class="name">
                <a id="top" href="{{ url_for ('index')}}">bartosz kobylinski</a>
                <a id="bottom" href="{{ url_for ('index')}}">python developer</a>
            </div>  
        </div>
        <div class="navigation-bars">
            <a href="{{ url_for ('about_me')}}">about</a>
            <a href="{{ url_for ('projects')}}">projects</a>
            <a href="#">contact</a>
        </div>
    </nav>

    {% block content%}
    {% endblock %}  
    
</body>
</html>