<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='js/hamburger_menu.js') }}"></script>
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <nav class="nav" id="navigation">
        <ul>
            <li><a id="main" href="{{ url_for('index') }}">Main</a></li>
                <div class="hidden">
                    <li><a href="{{ url_for('about_me') }}">About Me</a></li>
                    <li><a href="{{ url_for('projects') }}"> Projects</a></li>
                    <li id="cv"><a href='static/cv/bartosz_kobylinski_cv.pdf'>CV</a></li>
                    <li id="git"><a href="https://github.com/bartoszkobylinski"><i class="fab fa-github"></i></a></li>
                    <li id="contact"><a href="{{ url_for('contact')}}">Contact</a></li>
                </div>
            <li>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>
    </nav>

    {% block content%}
    {% endblock %}  
    
</body>
</html>