{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<div class="projects-wrapper">
    <div class="project-one">
        <div class="project-one__printscreen">
            <img src="{{url_for('static', filename='images/foxy.jpg')}}" alt="project printscreen">
        </div>
        <div class="project-one__details">
                <h5 class="title">Mars weather notification</h5>
            <ul>
                <li>Python</li>
                <li>HTML 5</li>
                <li>CSS</li>
                <li>Flask</li>
                <li>Schedule</li>
                <li>API connection</li>
                <li>SQLite</li>
                <li>Requests</li>
                <li>Git</li>
            </ul>
        </div>

    </div>
    <div class="project-two">
        <div class="project-two__printscreen">
                <img src="{{url_for('static', filename='images/foxy.jpg')}}" alt="project printscreen">
        </div>
        <div class="project-two__details">
            <h5 class="title">Sail Trip Planer</h5>
            <ul>
                        <li>Python</li>
                        <li>HTML 5</li>
                        <li>CSS</li>
                        <li>Flask</li>
                        <li>Schedule</li>
                        <li>Requests</li>
                        <li>SQLite</li>
                        <li>Selenium</li>
                        <li>Git</li>
                    </ul>
        </div>
    </div>
    <div class="project-three">
        <div class="project-three__printscreen">
                <img src="{{url_for('static', filename='images/foxy.jpg')}}" alt="project printscreen">
        </div>
        <div class="project-three__details">
            <h5 class="title">Financial Newsletter</h5>
                <ul>
                        <li>Python</li>
                        <li>HTML 5</li>
                        <li>CSS</li>
                        <li>Flask</li>
                        <li>Schedule</li>
                        <li>Requests</li>
                        <li>SQLite</li>
                        <li>Selenium</li>
                        <li>Git</li>
                    </ul>
        </div>
    </div>
</div>

{% endblock %}
