{% extends "layout.html" %}
{% block content %}
    <div class="projects-wrapper">
        <div class="project" id="first">
            <a href="https://github.com/bartoszkobylinski/mars_weather_notification">
                <div id="first-text">
                    <h3>Mars weather notification</h3>
                    <p>Created app informs about current weather on Elysium Planitia the plain to the north of the Mars equator where the Insight NASA Lander gathers data of the Martian interior.</p>
                </div>
            </a>
            <div class="project-image"><img src="{{ url_for('static', filename='images/mars.jpg' )}}" alt=""></div>
        </div>     
        <div class="project" id="second">
            <a href="https://github.com/bartoszkobylinski/sail_trip_planer">
                <div id="second-text">
                    <h3>Sail Trip Planer</h3>
                    <p>The created script helps to plan sail trip from Oslo to Swinoujscie by gathering current forecast data on the specific sea coordinates.</p>
                </div>
            </a>
            
            <div class="project-image"><img data-hover="" src="{{ url_for('static', filename='images/sail.jpg' )}}" alt=""></div>
        </div>
        <div class="project" id="third">
            <a href="https://github.com/bartoszkobylinski/articles_scraper">
                <div  id="third-text">
                    <h3>Financial Newsletter</h3>
                    <p>I was asked for preparing the tool which will help to keep up to date with the information concerning changes in the Polish tax legal system. The created script is monitoring new articles published on the selected websites (in this context – Polish tax administration official websites). The user receives notification from the script by mail about the made changes as soon as they are published on the selected website.</p>
                </div>
            </a>
            <div class="project-image"><img src="{{ url_for('static', filename='images/tax.jpg' )}}" alt=""></div>
        </div>
        <div class="project" id="fourth">
            <a href="https://github.com/bartoszkobylinski/mountain_weather">
                <div id="fourth-text">
                    <h3>Mountain weather aggregator</h3>
                    <p>App aggregates condition, warnings and weather data at mountain. Still in coding progress</p>
                </div>
            </a>
            <div class="project-image"><img src="{{ url_for('static', filename='images/mountain.jpg' )}}" alt=""></div>
        </div>
        <div class="project" id="fifth">
            <div id="fifth-text">
                <h3>Flight delays</h3>
                <p>Nothing to show yet. Still in concept step</p>
            </div>
            <div class="project-image"><img src="{{ url_for('static', filename='images/flight.jpg' )}}" alt=""></div>
        </div>
        <div class="project" id="git">
            <a href="https://github.com/bartoszkobylinski">
                <div id="sixth-text">
                    <h3>GITHUB</h3>
                    <p>Here you can go directly to my Github account!</p>
                </div>
            </a>
            <div class="project-image"><img src="{{ url_for('static', filename='images/git.png')}}" alt=""></div>
        </div>
    </div>

{% endblock %}