<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
    <div onclick="location.href='{{ url_for("index") }}'" class="name"><h4>bartosz kobylinski</h4></div>
    <div onclick="location.href='{{ url_for("about_me") }}'" class="about">about</div>
    <div onclick="location.href='{{ url_for("projects") }}'" class="projects">projects</div>
    <div onclick="location.href='{{ url_for("contact") }}'" class="contact">contact</div>
    
    <div class="projects-wrapper">
            <div onclick="location.href='https://github.com/bartoszkobylinski'" class="project" id="first">
                <div id="first-text">
                    <h3>Mars weather notification</h3>
                    <p>Created app informs about current weather 
            on Elysium Planitia the plain to the north of the Mars equator where the 
            Insight NASA Lander gathers data of the Martian interior.</p>
                </div>
                <img src="{{ url_for('static', filename='images/mars.jpg' )}}" alt="">
            </div>
            <div class="project" id="second">
                <div id="second-text">
                    <h3>Sail Trip Planer</h3>
                    <p>The created script helps to plan sail trip from Oslo to Swinoujscie 
                        by gathering current forecast data on the specific sea coordinates.</p>
                </div>
                <img data-hover="" src="{{ url_for('static', filename='images/sail.jpg' )}}" alt="">
            </div>
            <div class="project" id="third">
                <div id="third-text">
                    <h3>Financial Newsletter</h3>
                    <p>I was asked for preparing the tool which will help to keep up to date 
                        with the information concerning changes in the Polish tax legal system. 
                        The created script is monitoring new articles published on the selected 
                        websites (in this context – Polish tax administration official websites). 
                        The user receives notification from the script by mail about the made changes 
                        as soon as they are published on the selected website.</p>
                </div>
                <img src="{{ url_for('static', filename='images/tax.jpg' )}}" alt="">
            </div>
            <div class="project" id="fourth">
                <img src="{{ url_for('static', filename='images/mountain.jpg' )}}" alt="">
            </div>
            <div class="project" id="fifth">
                <img src="{{ url_for('static', filename='images/flight.jpg' )}}" alt="">
            </div>
            <div class="project" id="git">
                <img src="{{ url_for('static', filename='images/git.png')}}" alt="">
            </div>
    </div>
    </main>
    
</body>
</html>