{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<div class="projects-wrapper">
    <div class="project-one">
        <h5 class="title">Mars weather notification</h5>
        <div class="project-one__printscreen">
            <img src="{{url_for('static', filename='images/mars_screen.png')}}" alt="project printscreen">
        </div>
        <div class="project-one__details">
            <ul>
                <li>Python</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Flask</li>
                <li>Schedule</li>
                <li>API connection</li>
                <li>Requests</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
    <div class="project-two">
        <h5 class="title">Sail Trip Planer</h5>
        <div class="project-two__printscreen">
                <img src="{{url_for('static', filename='images/sail_trip.png')}}" alt="project printscreen">
        </div>
        <div class="project-two__details">
            <ul>
                <li>Python</li>
                <li>Java Script</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Flask</li>
                <li>Schedule</li>
                <li>Requests</li>
                <li>SQLite</li>
                <li>Selenium</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
    <div class="project-three">
        <h5 class="title">Financial Newsletter</h5>
        <div class="project-three__printscreen">
                <img src="{{url_for('static', filename='images/fin-min.png')}}" alt="project printscreen">
        </div>
        <div class="project-three__details">
            <ul>
                <li>Python</li>
                <li>Schedule</li>
                <li>Requests</li>
                <li>SQLite</li>
                <li>Selenium</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
    <div class="project-four">
        <h5 class="title">Mountain Forecast App</h5>
        <div class="project-four__printscreen">
            <img src="#" alt="Project printscreen comming soon">
        </div>
        <div class="project-four__details">
            <ul>
                <li>Python</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Django</li>
                <li>Cron</li>
                <li>API connection</li>
                <li>Requests</li>
                <li>Git</li>
                <li>PostgreSQL</li>
            </ul>
        </div>
    </div>
    <div class="project-five">
        <h5 class="title">Delayed flights</h5>
        <div class="project-five__printscreen">
            <img src="#" alt="Project printscreen comming soon">
        </div>
        <div class="project-five__details">
            <ul>
                <li>Python</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Djang REST</li>
                <li>API connection</li>
                <li>Requests</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}
